{% load staticfiles %}
<html>
<head>
    <title>Coding Arena </title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/website.css' %}">
      
    </head>
<body>

<div style="background-color: pink">
    <h4 align="center">Coding Arena</h4>
    <ul>
	 <li><a href="{% url 'home_page' %}">Home</a></li>
     <li><a href="{% url 'solutions_page' %}">Solutions</a></li>
     <li><a href="{% url 'tutorials_page' %}">Tutorials</a></li>
     <li><a href="{% url 'about_page' %}">About</a></li> 
</ul>

</div>  

<div>
	 {% block content %}

     {% endblock %}
</div>
</body>

</html>


