{% extends 'website/base.html' %}

{% block content %}

      <div id="sd" style="font-size:30px;">
          
             <p>Here you will find solutions of many problems on spoj And tutorials for some important topics.
             And my suggestion to you all that don't copy the code only try to understand the logic and algorithm behind the code. I have started this because if you tried as hard as you can and still can't find any solution to the problem then you can refer to this .<br />

             By Tutorials you will get good understanding of data structures and algorithms  in less time.<br /> 

              <p align="center" >  !!! Happy Coding !!!</p>
             </p>
      </div>
   
 {% endblock content %}