{% extends 'website/base.html' %}

{% block content %}

      <div style="font-size:30px;">
          
             <p>Here you will find solutions of many problems on spoj And tutorials for some important topics.
             And my request to you all that don't copy the code only try to understand the logic and algorithm behind the code. I have started this because if you tried as hard as you can and still can't find any solution to the problem then you can refer to this And by Tutorilals you will good understanding of algorithm in less time.</p>
      </div>
   
 {% endblock content %}