{% extends 'website/base.html' %}

{% block content %}

 {% for post in tutorials %}
 
       <div class="post" style="background-color: white; width: 700px; align-content: center; margin-left: 300px;" ; >

          
            <div class="date" align="center">
                {{ post.published_date }}
          </div>
            
             <h1 align="center"; style="font-size:23px; " ;><a href="{% url 'tutorial_detail' pk=post.pk %}">{{ post.title }}</a></h1>
             <p>{{ post.text|truncatewords:10 }}</p>
    
       </div>
    
   {% endfor %}

{% endblock content %}